@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@keyframes translateDown {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(2.25rem);
  }
}

@keyframes translateUp {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(-2.25rem);
  }
}

@keyframes scaleYDown {
  0% {
    opacity: 0;
    transform-origin: bottom;
    transform: translateX(-50%) scaleY(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scaleY(1);
  }
}

@keyframes scaleYUp {
  0% {
    opacity: 0;
    transform-origin: top;
    transform: translateX(-50%) scaleY(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scaleY(1);
  }
}

@keyframes letterSpacing {
  0% {
    opacity: 0;
    letter-spacing: 0;
  }
  100% {
    opacity: 1;
    letter-spacing: 2.25rem;
  }
}

h1 {
  font-size: 7vw;
  font-weight: 700;
  font-family: 'Josefin Sans', serif;
  color: #e5f508;
  opacity: 0;
  text-transform: uppercase;
  text-shadow: 0 15px 30px rgba(#000, 0.15);
  animation: letterSpacing 1s 0.6s;
  animation-fill-mode: forwards;
  justify-content: center;

  span {
    position: relative;
    display: inline-block;

    &::before {
      position: absolute;
      content: '';
      display: block;
      transform: translateX(-50%);
      width: 2px;
      height: 10rem;
      opacity: 0;
      background: rgba(#fff, 0.5);
      transition: 0.6s 0.6s;
    }

    &:first-child,
    &:last-child {
      animation: translateDown 0.2s 0´2s;
      animation-fill-mode: forwards;

      &::before {
        bottom: calc(100% + 1rem);
        left: calc(50% - 1rem);
        animation: scaleYUp 0.2s 0.2s;
        animation-fill-mode: forwards;
      }
    }
  }
}

.pv-logo {
  position: fixed;
  top: 30px;
  right: 30px;

  img {
    border-radius: 50%;
    max-width: 40px;
  }
}
