.transaction {
  --color: #a972cb;
  --hover: #be82e3;
}

.wallet {
  --color: #ef6eae;
  --hover: #f79ac7;
}

.close {
  --color: #ff7f82;
  --hover: #e66f71;
}

a {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: var(--color);
  transition: 0.25s;
}

a:hover,
a:focus {
  border-color: var(--hover);
  color: #fff;
}

.transaction:hover,
.transaction:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.wallet:hover,
.wallet:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
body {
  color: #fff;
  background: hsl(227, 10%, 10%);
  font: 300 1em 'Fira Sans', sans-serif;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

h1 {
  font-weight: 400;
}
