/* Add to your transactions.css file */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsl(227, 10%, 10%);
  color: white;
  width: 100%;
}

.container {
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  max-width: 800px;
}
#checkBalance,
#sendTx {
  margin: 20px;
  border-radius: 5rem;
  border: 1px solid;
  width: 250px; /* Sets the width of the button */
  height: 50px; /* Sets the height of the button */
  font-size: 16px;
  background-color: #9d84ad;
  color: #e5f508;
}
#checkBalance:hover,
#sendTx:hover,
#connect:hover {
  letter-spacing: 8px;
  background-color: #a972cb;
  color: #f5f4f4;
  font-size: 1rem;
}
#accountNumber,
#amount,
#toAccountNumber {
  width: 80%; /* Use 100% to make it responsive to the container width, or set a specific width */
  height: 40px; /* Adjust based on your design */
  padding: 8px 12px; /* Top & bottom, Left & right padding */
  border: 1px solid #3d3b3b; /* Border width, style, and color */
  border-radius: 20px; /* Rounded corners */
  font-size: 16px; /* Text size inside the input */
  background-color: #5b619e; /* Background color */
  color: #c1d119; /* Text color */
  outline: none; /* Removes the default focus outline */
}

#accountNumber:focus,
#amount:focus,
#toAccountNumber:focus {
  border-color: #7b8162; /* Changes border color when the input is focused */
  box-shadow: 0 0 0 0.2rem rgba(7, 7, 7, 0.25); /* Optional: Adds a glow effect on focus */
}

#accountNumber::placeholder,
#amount::placeholder,
#toAccountNumber::placeholder {
  color: #9f9999; /* Placeholder text color */
  font-style: italic; /* Placeholder text style */
}
h1 {
  text-align: center; /* Ensures the text is centered if the line breaks */
  margin: 100px 0 50px; /* Adds some space below the h1, adjust as needed */
}
span {
  font-size: 1.5rem;
  color: #9d84ad;
}
#balance {
  font-size: 1.5rem;
  color: gold;
}
#connect {
  margin: 20px;
  border-radius: 5rem;
  border: 1px solid black;
  width: 300px; /* Sets the width of the button */
  height: 80px; /* Sets the height of the button */
  font-size: 18px;
  background-color: #9d84ad;
  color: #e5f508;
}
.transactions-container > div {
  display: flex;
  justify-content: space-between;
}

.transactions-container span {
  color: #c1d119;
}
h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #9d84ad;
}
