/* Add to your transactions.css file */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(227, 10%, 10%);
  color: white;
  width: 100%;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* This ensures that the text of h1 is centered */
  width: 600px; /* Adjust as needed */
  max-width: 95%; /* Prevents the container from stretching too much on smaller screens */
  padding: 10px;
  box-sizing: border-box;
}

/* Additional styles to ensure your main element takes up full height */
main {
  width: 100%; /* Adjust based on your preference */
}

/* Ensure your sections take up full width of the container for consistent alignment */
section {
  width: 100%;
}
#checkBalance,
#sendTx {
  margin: 20px;
  border-radius: 5rem;
  border: 1px solid;
  width: 100px; /* Sets the width of the button */
  height: 30px; /* Sets the height of the button */
  font-size: 12px;
  background-color: #9d84ad; /* Sets the size of the text inside the button */
}
#accountNumber,
#amount,
#toAccountNumber {
  width: 80%; /* Use 100% to make it responsive to the container width, or set a specific width */
  height: 40px; /* Adjust based on your design */
  padding: 8px 12px; /* Top & bottom, Left & right padding */
  border: 1px solid #ccc; /* Border width, style, and color */
  border-radius: 20px; /* Rounded corners */
  font-size: 16px; /* Text size inside the input */
  background-color: #5b619e; /* Background color */
  color: #c1d119; /* Text color */
  outline: none; /* Removes the default focus outline */
}

#accountNumber:focus,
#amount:focus,
#toAccountNumber:focus {
  border-color: #7b8162; /* Changes border color when the input is focused */
  box-shadow: 0 0 0 0.2rem rgba(7, 7, 7, 0.25); /* Optional: Adds a glow effect on focus */
}

#accountNumber::placeholder,
#amount::placeholder,
#toAccountNumber::placeholder {
  color: #9f9999; /* Placeholder text color */
  font-style: italic; /* Placeholder text style */
}
h1 {
  text-align: center; /* Ensures the text is centered if the line breaks */
  margin: 100px 0 50px; /* Adds some space below the h1, adjust as needed */
}
