* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  background: hsl(227, 10%, 10%);
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  margin: auto;
  max-width: 1200px;
  padding: 1rem 2rem;
}

section {
  display: block;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px auto;
}
#checkBalance,
#sendTx,
#blocks {
  margin: 20px;
  border-radius: 5rem;
  border: 1px solid;
  width: 200px;
  height: 50px;
  font-size: 16px;
  background-color: #9d84ad;
  color: white;
  cursor: pointer;
}
#checkBalance:hover,
#sendTx:hover,
#connect:hover,
#blocks:hover {
  letter-spacing: 8px;
  background-color: #a972cb;
  color: #f5f4f4;
  font-size: 1rem;
}
#accountNumber,
#amount,
#toAccountNumber {
  width: 80%;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #3d3b3b;
  border-radius: 20px;
  font-size: 16px;
  background-color: #212125;
  color: #c1d119;
  outline: none;
}

#accountNumber:focus,
#amount:focus,
#toAccountNumber:focus {
  border-color: #7b8162;
  box-shadow: 0 0 0 0.2rem rgba(7, 7, 7, 0.25);
}

#accountNumber::placeholder,
#amount::placeholder,
#toAccountNumber::placeholder {
  color: #9f9999;
  font-style: italic;
}
h1 {
  text-align: center;
  margin: 2rem 0;
}
span {
  font-size: 1.5rem;
  color: #9d84ad;
}
#balance {
  font-size: 1.5rem;
  color: gold;
}
#connect {
  margin: 20px;
  border-radius: 5rem;
  border: 1px solid black;
  width: 300px;
  height: 80px;
  font-size: 18px;
  background-color: #9d84ad;
  color: #fcfcfc;
}
.transactions-container > div {
  display: flex;
  justify-content: space-between;
}

.transactions-container span {
  color: #6f7446;
  font-size: 0.9rem;
}
h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #9d84ad;
  margin-bottom: 1rem;
}
#transactions {
  display: flex;
  flex-direction: column;
}
